.shop-container {
    display: flex;
    /* padding: 50px; */
}
.shop-product{
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px 150px;
    border-right: 1px solid lightgray;
}
.shop-cart {
    position: fixed;
    right: 0;
    top: 100;
    margin-top: 50px;
    margin-right: 20px;
    /* text-align: center; */
}
.shop-cart h3{
    margin-top: 85px;
    text-align: center;
    margin-right: 50px;
}